<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:exported="true"
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Emergencia"
            android:label="@string/emerg"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consciente.Consciente"
            android:label="@string/cons"
            android:parentActivityName=".Socs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoBasica"
            android:label="@string/infoB"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no_consciente.NoConsciente"
            android:label="@string/nocons"
            android:parentActivityName=".Socs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Socs"
            android:label="@string/soco"
            android:parentActivityName=".Emergencia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consciente.Heridas"
            android:label="@string/herida"
            android:parentActivityName=".consciente.Consciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Botiquin"
            android:label="@string/botiquin"
            android:parentActivityName=".InfoBasica"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consciente.Fracturas"
            android:label="@string/fractura"
            android:parentActivityName=".consciente.Consciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consciente.Hemorragias"
            android:label="@string/hemo"
            android:parentActivityName=".consciente.Consciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consciente.Envenenamiento"
            android:label="@string/veneno"
            android:parentActivityName=".consciente.Consciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consciente.Golpes"
            android:label="@string/golpes"
            android:parentActivityName=".consciente.Consciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consciente.GolpeDeCalor"
            android:label="@string/golped"
            android:parentActivityName=".consciente.Consciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consciente.Quemaduras"
            android:label="@string/fuego"
            android:parentActivityName=".consciente.Consciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no_consciente.Traumatismo"
            android:label="@string/trauma"
            android:parentActivityName=".no_consciente.NoConsciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no_consciente.Coma"
            android:label="@string/coma"
            android:parentActivityName=".no_consciente.NoConsciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no_consciente.Desmayo"
            android:label="@string/desmayo"
            android:parentActivityName=".no_consciente.NoConsciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no_consciente.Convulsion"
            android:label="@string/convulsion"
            android:parentActivityName=".no_consciente.NoConsciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no_consciente.Atragantamiento"
            android:label="@string/atragar"
            android:parentActivityName=".no_consciente.NoConsciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consciente.Atragantamiento"
            android:label="@string/atragar"
            android:parentActivityName=".consciente.Consciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no_consciente.ParadaCardiaca"
            android:label="@string/paradaC"
            android:parentActivityName=".no_consciente.NoConsciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no_consciente.C"
            android:label="@string/c"
            android:parentActivityName=".no_consciente.NoConsciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no_consciente.B"
            android:label="@string/b"
            android:parentActivityName=".no_consciente.NoConsciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no_consciente.A"
            android:label="@string/a"
            android:parentActivityName=".no_consciente.NoConsciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConstantesVitales"
            android:label="@string/vitales"
            android:parentActivityName=".InfoBasica"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consciente.Electrocucion"
            android:label="@string/rayo"
            android:parentActivityName=".consciente.Consciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Proteger"
            android:label="@string/proteg"
            android:parentActivityName=".Emergencia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Alertar"
            android:label="@string/alertar"
            android:parentActivityName=".Emergencia"
            android:screenOrientation="portrait" />
    </application>

</manifest>