<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enrique.cpr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".emergencia"
            android:label="@string/emerg"
            android:parentActivityName=".MainActivity"
            ></activity>
        <activity
            android:name=".consciente"
            android:label="@string/cons"
            android:parentActivityName=".socs"
            ></activity>
        <activity
            android:name=".infobasica"
            android:label="@string/infoB"
            android:parentActivityName=".MainActivity"
            ></activity>
        <activity
            android:name=".noconsciente"
            android:label="@string/nocons"
            android:parentActivityName=".socs"
            ></activity>
        <activity
            android:name=".socs"
            android:label="@string/soco"
            android:parentActivityName=".emergencia"
            ></activity>
        <activity
            android:name=".heridas"
            android:label="@string/herida"
            android:parentActivityName=".consciente"
            ></activity>
        <activity
            android:name=".botiquin"
            android:label="@string/botiquin"
            android:parentActivityName=".infobasica"
            ></activity>
        <activity
            android:name=".fracturas"
            android:label="@string/fractura"
            android:parentActivityName=".consciente"
            ></activity>
        <activity
            android:name=".hemorragias"
            android:label="@string/hemo"
            android:parentActivityName=".consciente"
            ></activity>
        <activity
            android:name=".envenenamiento"
            android:label="@string/veneno"
            android:parentActivityName=".consciente"
            ></activity>
        <activity
            android:name=".golpes"
            android:label="@string/golpes"
            android:parentActivityName=".consciente"
            ></activity>
        <activity
            android:name=".golpedecalor"
            android:label="@string/golped"
            android:parentActivityName=".consciente"
            ></activity>
        <activity
            android:name=".quemaduras"
            android:label="@string/fuego"
            android:parentActivityName=".consciente"
            ></activity>

    </application>

</manifest>